/* Core Components */
.SidebarContainer{
    width: 30vw;
    height: 100%;
    position: absolute;
    top:3rem;
    right:0;
    background-color: grey;
    overflow: hidden;
}

.SidebarContainer.SidebarContainerExpanded{
    width: 100vw;
}

.Sidebar{
    height: 100%;
    width: 100%;
    padding: 0.25rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.SidebarHeader{
    width: 100%;
    min-height: 2rem;
    margin: 0.25rem;
}

.SidebarBody{
    width: 100%;
    flex-grow: 1;
    min-height: 2rem;
    margin: 0.25rem;
}


/* Sub Components */

.SidebarPaper{
    height:100%;
    width: 100%;
}

.SidebarHeaderButtonBox{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}