.BasicLayout {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.BasicLayoutTop {
	min-width: 100vw;
	min-height: 3rem;
}

.BasicLayoutMiddle {
	flex-grow: 1;
	min-width: 100vw;
}

.BasicLayoutBottom {
	min-height: 3rem;
	min-width: 100vw;
}

.TitleContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0rem 3rem;
}

.Title {
}

.LinkContainer {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.Link {
	padding: 0rem 2rem;
	height: 100%;
	display: flex;
	flex-direction: row;
}

.LinkText {
	color: white;
}

.LinkIcon {
	color: white;
}

.AccountButtonIcon {
	color: white;
}

.AccountContainer {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	flex: 1;
}

.LinkWrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}
